<section class="main-section">
    <h2
        class="text-2xl text-white/50 italic drop-shadow-xl drop-shadow-white/10">
        Hi, my name is Mick
    </h2>
    <p class="text-6xl font-bold drop-shadow-xl drop-shadow-white/10">
        I am a
        <span
            class="bg-linear-to-b from-[#6fe3e1] to-[#5257e5] bg-clip-text text-transparent">
            <span id="what-am-i-heading"></span><span
                class="animate-fade-in-out">
                _
            </span>
        </span>
    </p>
    <div class="space-x-2">
        <a class="button-primary inline-block" href="#contact">
            Get in contact
        </a>
        <a class="button-secondary inline-block" href="#about-me">
            View about me
        </a>
    </div>
</section>

<script>
    const headingElement = document.getElementById("what-am-i-heading")!;
    const descriptions = [
        "Full-Stack Developer",
        "React & Next.js Enthusiast",
        "Tailwind CSS Aficionado",
        "Linux User",
        "Low-Level Developer",
        "Problem Solver",
        "Clean Code Advocate",
    ];

    let descriptionIndex = 0;
    let letterIndex = 0;
    let removeWord = false;

    function showNextLetter() {
        const currentDescription = descriptions[descriptionIndex];

        headingElement.innerText = currentDescription.slice(0, letterIndex);

        letterIndex = removeWord ? letterIndex - 1 : letterIndex + 1;

        if (removeWord && letterIndex === 0) {
            removeWord = false;
            descriptionIndex = (descriptionIndex + 1) % descriptions.length;
        }

        if (letterIndex > currentDescription.length) {
            removeWord = true;
            setTimeout(showNextLetter, 1000);
        } else {
            setTimeout(showNextLetter, removeWord ? 50 : Math.random() * 100);
        }
    }

    showNextLetter();
</script>
