---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="text-center px-4 py-16 flex flex-col gap-4">
        <strong class="text-bold text-3xl">Page not found :(</strong>
        <p class="font-light">Would you like to navigate back to the <a class="font-semibold text-blue-400 hover:underline" href="/">home page</a>?</p>
    </div>
</Layout>