---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="flex flex-col items-center justify-center h-screen gap-4">
        <strong class="text-3xl text-bold">Page not found :(</strong>
        <p class="font-light">Would you like to navigate back to the <a class="font-semibold text-blue-400 hover:underline" href="/">home page</a>?</p>
    </main>
</Layout>