---
import Layout from "../layouts/Layout.astro";
import SectionMain from "../components/sections/SectionMain.astro";
import SectionAbout from "../components/sections/SectionAbout.astro";
import SectionSkills from "../components/sections/SectionSkills.astro";
import SectionProjects from "../components/sections/SectionProjects.astro";
import SectionContact from "../components/sections/SectionContact.astro";
---

<Layout>
    <main>
        <SectionMain />
        <SectionAbout />
        <SectionSkills />
        <SectionProjects />
        <SectionContact />
    </main>
</Layout>

<script>
    const headingElement = document.getElementById("what-am-i-heading")!;
    const descriptions = [
        "Full-Stack Developer",
        "React & Next.js Enthusiast",
        "Tailwind CSS Aficionado",
        "Linux User",
        "Low-Level Developer",
        "Problem Solver",
        "Clean Code Advocate",
    ];

    let descriptionIndex = 0;
    let letterIndex = 0;
    let removeWord = false;

    function showNextLetter() {
        const currentDescription = descriptions[descriptionIndex];

        headingElement.innerText = currentDescription.slice(0, letterIndex);

        letterIndex = removeWord ? letterIndex - 1 : letterIndex + 1;

        if (removeWord && letterIndex === 0) {
            removeWord = false;
            descriptionIndex = (descriptionIndex + 1) % descriptions.length;
        }

        if (letterIndex > currentDescription.length) {
            removeWord = true;
            setTimeout(showNextLetter, 1000);
        } else {
            setTimeout(showNextLetter, removeWord ? 50 : Math.random() * 100);
        }
    }

    showNextLetter();
</script>
