---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="p-4 flex flex-col items-center justify-center h-screen gap-4 snap-center text-center">
        <h2 class="text-2xl italic text-white/50 drop-shadow-lg drop-shadow-white/20">Hi, my name is Mick</h2>
        <p class="text-6xl font-bold drop-shadow-2xl drop-shadow-white/20">
            I am a
            <span class="text-transparent bg-linear-to-b from-indigo-500 via-purple-500 to-pink-500 bg-clip-text">
                <span id="what-am-i-heading"></span><span class="animate-fade-in-out">_</span>
            </span>
        </p>
        <div class="space-x-2">
            <a class="inline-block button-primary" href="#contact">Get in contact</a>
            <a class="inline-block button-secondary" href="#about-me">View about me</a>
        </div>
    </section>
    <section class="flex flex-col items-center justify-center h-screen gap-4 bg-red-500 snap-center" id="about-me">
        <h2>About me</h2>
    </section>
    <section class="flex flex-col items-center justify-center h-screen gap-4 bg-green-500 snap-center" id="skills">
        <h2>Skills</h2>
    </section>
    <section class="flex flex-col items-center justify-center h-screen gap-4 bg-blue-500 snap-center" id="contact">
        <h2>Contact</h2>
    </section>
</Layout>

<script>
    const headingElement = document.getElementById("what-am-i-heading")!;
    const descriptions = [
        "Full-Stack Developer",
        "React & Next.js Enthusiast",
        "Tailwind CSS Aficionado",
        "Linux User",
        "Low-Level Developer",
        "Problem Solver",
        "Clean Code Advocate"
    ];

    let descriptionIndex = 0;
    let letterIndex = 0;
    let removeWord = false;

    function showNextLetter() {
        const currentDescription = descriptions[descriptionIndex];

        headingElement.innerText = currentDescription.slice(0, letterIndex);

        letterIndex = removeWord ? letterIndex - 1 : letterIndex + 1;

        if (removeWord && letterIndex === 0) {
            removeWord = false
            descriptionIndex = (descriptionIndex + 1) % descriptions.length;
        }

        if (letterIndex > currentDescription.length) {
            removeWord = true;
            setTimeout(showNextLetter, 1000);
        } else {
            setTimeout(showNextLetter, removeWord ? 50 : Math.random() * 100);
        }
    }

    showNextLetter();
</script>