---
import Binary from "@lucide/astro/icons/binary";

const ANIMATE_STEP = 0.1; // seconds

const NAV_LINKS = {
    "Home": "/#",
    "About Me": "/#about-me",
    "Skills": "/#skills",
    "Contact": "/#contact",
} satisfies Record<string, string>;
---

<header class="fixed top-0 z-10 flex justify-between w-full gap-8 p-4 animate-fade-in backdrop-blur-3xl bg-black/25">
    <a class="flex items-center gap-1 animate-slide-down" href="/">
        <Binary/>
        <h1 class="text-xl font-bold">Mick's Portfolio</h1>
    </a>
    <nav class="flex gap-2">
        {Object.entries(NAV_LINKS).map(([ name, href ], index) =>
            <a
                href={href}
                class="nav-link animate-slide-down"
                style={{ animationDelay: `${index * ANIMATE_STEP}s` }}
            >{name}</a>
        )}
    </nav>
</header>