---
type Props = {
    title: string;
    percent: number;
};

const { title, percent } = Astro.props;
---

<li class="skill-card group flex flex-col gap-1">
    <h3
        class="text-xl font-light text-white/70 transition-colors text-shadow-black text-shadow-md group-hover:text-white">
        {title}
    </h3>
    <div class="h-5 w-xl rounded-full bg-white/10 p-0.5">
        <div
            class="h-full origin-left scale-x-0 rounded-full bg-linear-0 from-[#6095FF] to-[#4180FF] transition-transform duration-1000 group-data-visible:scale-x-100"
            style={{ width: `${percent}%` }}>
        </div>
    </div>
</li>

<script>
    const observer = new IntersectionObserver((entries) => {
        for (const entry of entries) {
            if (entry.isIntersecting) {
                (entry.target as HTMLElement).dataset.visible = "";
                observer.unobserve(entry.target);
            }
        }
    });

    const skillCards = document.getElementsByClassName("skill-card");

    for (const card of skillCards) {
        observer.observe(card);
    }
</script>
