---
import "../styles/global.css";
import "@fontsource-variable/inter";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en" class="snap-y snap-mandatory scroll-smooth">
    <head>
        <title>Mick's Portfolio</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
    </head>
    <body
        class="font-inter nav-open:overflow-hidden relative bg-black text-white">
        <Header />
        <slot />
        <Footer />
        <canvas class="fixed inset-0 -z-10" id="animation-canvas"></canvas>
    </body>
</html>

<script>
    import { ThpaceGL } from "thpace";

    const canvas =
        document.querySelector<HTMLCanvasElement>("#animation-canvas")!;

    ThpaceGL.create(canvas, {
        colors: ["#000000", "#666666"],
        triangleSize: 150,
        maxFps: 60,
        particleSettings: {
            count: [0, 0],
        },
    });
</script>
