---
import "../styles/global.css";
import "@fontsource-variable/inter";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth snap-y snap-mandatory">
<head>
	<title>Mick's Portfolio</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width"/>
	<link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
	<meta name="generator" content={Astro.generator}/>
</head>
<body class="text-white bg-black font-inter">
	<Header/>
	<slot/>
	<Footer/>
</body>
</html>

<script>
	// @ts-ignore
	import * as THREE from "three";
	// @ts-ignore
	import WAVES from "vanta/dist/vanta.waves.min.js";

	WAVES({
		THREE: THREE,
		el: document.body,
		mouseControls: false,
		touchControls: false,
		gyroControls: false,
		minHeight: 200.00,
		minWidth: 200.00,
		scale: 1.00,
		scaleMobile: 1.00,
		color: 0x0,
		shininess: 34.00,
		waveHeight: 15.50,
	});
</script>